* {
 margin : 0;
 padding: 0;
}

html {
 margin : 0;
 padding: 0;
 height : 100%;
 width  : 100%;
}

body {
 margin : 0;
 padding: 0;
 height : 100%;
 width  : 100%;
 background-color: black;
 color: white;
}

#songs {
 display:none;
}

#screenContainer {
 height : 100%;
 width : 100%;
 vertical-align : middle;
 text-align : center;
}

#screen {
 width : 100%;
 position: relative;
 top: 50%;
 -webkit-transform: translateY(-50%);
 -ms-transform: translateY(-50%);
 transform: translateY(-50%);
}
